@charset "gb2312";
/* margin and padding */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,img,form,applet,fieldset,legend,button,input,textarea,th,table,tr,td{margin:0;padding:0;border:none;}

/* body */
body{font-family:"Microsoft YaHei";font-size:12px;color:#444;max-width:640px;min-width:320px;position:relative;background:#f0f0f0;margin:0 auto;height:100%;}
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p{-webkit-text-size-adjust:none}
input::-ms-clear{display:none;}/*清楚文本框X*/
input,select,textarea{outline:none;cursor:pointer;-webkit-appearance:none;}
html{height:100%;width:100%;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}

/* img */
img{padding:0;margin:0;vertical-align:top;border:none;}
i,em{font-style:normal;}

/* div */
li,ul{list-style:none;}
.clear{clear:both;height:0;width:100%;}
a,b,i,span,input,select,dl,dd,dt,p{font-family:"Microsoft YaHei";}
.dx{-webkit-transition:all 0.5s;}
.f-l{float: left;}
.f-r{float: right;}

/* font */
a{color:#fff;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}

/*
---------------------------------------------------------------
 header
---------------------------------------------------------------
index-header
*/

.fan{width:20px;height:20px;padding:10px;display: block;float: left;margin-right: 5%;}
.fan img{width:100%;height:auto;display: block;}

.container{padding-bottom: 50px;max-width:640px;min-width: 320px;margin:0 auto;}
.header{position:relative;z-index: 1001;height:40px;background: #fff;}
.header h3 {width: 90%;font-size: 16px;font-weight: normal;text-align: center; line-height: 40px;}
.header .logo{height: 40px;display: block;float: left;width:20%;min-width: 100px;background: url(../images/logo.png) no-repeat;background-position: left center;background-size: 100%;}
.header_search {margin: 4px 0 0 1rem;position: relative;float: left;width: 60%;height: 32px;background: #ebebeb url(../images/header_search.png) no-repeat 11px center;border-radius: 100px;}
@media screen and (max-width: 320px) {.header_search {width: 55%;}}
.header_search input[type="text"] {text-indent: 33px;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: none;border: none;}
.header_search .clea {margin-top: -9.5px;position: absolute;top: 50%;right: 10px;display: none;width: 19px;height: 19px;background: #ebebeb url(../images/header_search_clea.png) no-repeat center center/100% 100%;border: none;cursor: pointer;}
.header_more.on {background: url(../images/header_more2.png) no-repeat left center /18px 10px;}
.header_more {position: absolute;right: 0;top: 0;display: block;width: 8%;height: 40px;background: url(../images/header_more.png) no-repeat left center;background-size: 18px 18px;}
/*.header .kf_phone{position:absolute;right:0;top:0;display:block;width:70px;height:44px;background:url(../images/phone.png) center center no-repeat #FF7E00;}*/
.header_more_com {padding-bottom: 40px;display: none;position: absolute;top: -100%;left: 0;z-index: 1005;width: 100%;min-height: 100%;background: rgba(0,0,0,0.85);}
.header_more_com ul {margin: 0 auto;overflow-y: auto;display: block;position: relative;z-index: 1001;max-width: 640px;border: #fff solid;border-width: 0 1px;}
.header_more_com ul li {margin: 0 0 0 -1px;position: relative;display: block;float: left;width: 25%;text-align: center;height: 8rem;border: #fff solid;border-width: 0  0 1px 1px;}
.header_more_com ul li a {position: absolute;top: 0;left: 0;width: 100%;height: 100%;font-size: 0.8rem;color: #fff;}
.header_more_com ul li .more_nav_sy{background: url(../images/index_header_nav/header_nav_sy.png) no-repeat center 2.45rem/2.2rem 2.3rem;}
.header_more_com ul li .more_nav_qw{background: url(../images/index_header_nav/header_nav_qw.png) no-repeat center 2.95rem/2.4rem 1.75rem;}
.header_more_com ul li .more_nav_cf{background: url(../images/index_header_nav/header_nav_cf.png) no-repeat center 2.45rem/2.6rem 2.3rem;}
.header_more_com ul li .more_nav_ws{background: url(../images/index_header_nav/header_nav_ws.png) no-repeat center 2.7rem/2.9rem 2.05rem;}
.header_more_com ul li .more_nav_mm{background: url(../images/index_header_nav/header_nav_mm.png) no-repeat center 2.5rem/1.5rem 2.4rem;}
.header_more_com ul li .more_nav_wy{background: url(../images/index_header_nav/header_nav_wy.png) no-repeat center 2.15rem/2.5rem 2.65rem;}
.header_more_com ul li .more_nav_kct{background: url(../images/index_header_nav/header_nav_kct.png) no-repeat center 2.4rem/4.4rem 2.4rem;}
.header_more_com ul li .more_nav_etf{background: url(../images/index_header_nav/header_nav_etf.png) no-repeat center 2.95rem/1.9rem 1.8rem;}
.header_more_com ul li .more_nav_sf{background: url(../images/index_header_nav/header_nav_sf.png) no-repeat center 2.75rem/2.2rem 2rem;}
.header_more_com ul li .more_nav_dsgy{background: url(../images/index_header_nav/header_nav_dsgy.png) no-repeat center 2.75rem/2.1rem 1.95rem;}
.header_more_com ul li .more_nav_md{background: url(../images/index_header_nav/header_nav_md.png) no-repeat center 2.4rem/2rem 2.4rem;}
.header_more_com ul li .more_nav_hd{background: url(../images/index_header_nav/header_nav_hd.png) no-repeat center 2.4rem/2.7rem 2.05rem;}
.header_more_com ul li .more_nav_shg{background: url(../images/index_header_nav/header_nav_shg.png) no-repeat center 2.4rem/2.1rem 1.55rem;}
.header_more_com ul li .more_nav_sj{background: url(../images/index_header_nav/header_nav_sj.png) no-repeat center 2.65rem/2.3rem 2.05rem;}
.header_more_com ul li .more_nav_zx{background: url(../images/index_header_nav/header_nav_zx.png) no-repeat center 2.1rem/2.5rem 2.65rem;}
.header_more_com ul li .more_nav_fg{background: url(../images/index_header_nav/header_nav_fg.png) no-repeat center 2.5rem/2.5rem 2.4rem;}

.header_more_com ul li .more_nav_bj{background: url(../images/index_header_nav/header_nav_bj.png) no-repeat center 2.95rem/2.4rem 1.75rem;}
.header_more_com ul li .more_nav_hd{background: url(../images/index_header_nav/header_nav_hd.png) no-repeat center 2.4rem/2.1rem 2.15rem;}
.header_more_com ul li .more_nav_sh{background: url(../images/index_header_nav/header_nav_sh.png) no-repeat center 2.4rem/2.1rem 2.15rem;}

.header_more_com ul li .more_nav_ct{background: url(../images/index_header_nav/header_nav_ct.png) no-repeat center 2.4rem/2.1rem 2.15rem;}
.header_more_com ul li .more_nav_yg{background: url(../images/index_header_nav/header_nav_yg.png) no-repeat center 2.4rem/2.1rem 2.15rem;}
.header_more_com ul li .more_nav_ttm{background: url(../images/index_header_nav/header_nav_ttm.png) no-repeat center 2.4rem/2.1rem 2.15rem;}
.header_more_com ul li .more_nav_smdz{background: url(../images/index_header_nav/header_nav_smdz.png) no-repeat center 2.4rem/2.1rem 2.15rem;}

.header_more_com ul li a span {position: absolute;left: 0;bottom: 1.5rem;width: 100%;}

/*
  导航header获取焦点显示搜索框
*/
.header_seek_nav {position: absolute;left: 0;top: -100%;z-index: 1005;width: 100%;height: 100%;background: #f1f1f5;overflow: hidden;}
.header_seek_nav_input{padding: 4px 0.5rem 4px 0;position: relative;overflow: hidden;height: 32px;line-height: 32px;background: #fff;}
.header_seek_nav_input a {position: relative;z-index: 2;display: block;float: left;width: 42px;height: 32px;background: #fff url(../images/popup_apply_close.png) no-repeat 13px center;background-size: 0.9rem 0.9rem;border-right: #dbdbdb solid 1px;}
.header_seek_nav_input .text {padding-left: 52px;position: absolute;top: 4px;left: 0;width: 100%;height: 30px;border: #dbdbdb solid;border-width: 1px 0;}
.header_seek_nav_input .submit {position: absolute;top: 4px;right: 0.5rem;width: 44px;height: 30px;line-height: 30px;background: url(../images/header_search.png) no-repeat center center;background-size: 0.9rem 0.9rem;border: #dbdbdb solid;border-width: 0 1px;cursor: pointer;}
.header_seek_nav_input .back_fff {position: absolute;top: 4px;right: 0;width: 0.5rem;height: 32px;background: #fff;}
.header_seek_nav_com {}
.header_seek_nav_com h4 {text-indent: 0.5rem;height: 1.75rem;line-height: 1.75rem;font-size: 0.8rem;color: #4c4c4c;font-weight: normal;}
.header_seek_nav_com ul {width: 100%;text-align: center;}
.header_seek_nav_com li {padding: 3px 0.25rem 6px;display: inline-block;*display: inline;width: 30%;}
.header_seek_nav_com li a {display: block;width: 100%;height: 28px;line-height: 28px;font-size: 14px;color: #666;background: #fff;border: #dbdbdb solid 1px;border-radius: 100px;}

/*
  others-header
*/
.admin_header{position:relative;height:44px;line-height:44px;background: #ff5a00;color: #fff;text-align: center;}
.admin_header h3 {font-size:20px;font-weight: normal;}
.admin_header a {display: block;height: 26px;position: absolute;top: 9px;background: url(../images/admin/header_icon.png) no-repeat;}
.admin_header a.back {width: 19px;background-position: -1px -46px;left:19px;}
.admin_header a.go_index {width: 29px;background-position: -1px -1px;right: 20px;}
.admin_header a.header_menu{display:inline-block;position:absolute;top:12px;right:20px;width:18px;height:18px;background:url(../images/open.png) no-repeat;}
.admin_header a.header_menu.on{background:url(../images/menu_close.png) no-repeat center center;}

/* 全局底部菜单样式 */
.ge{width:100%;float:left;height:60px;}
.footer_consule{position:fixed;width:100%;bottom:0;left:0;text-align: center;z-index:999;}
.footer_consule .bg{width:100%;height:60px;background:#000;opacity: 0.5;}
.footer_consule .cs_designer{position:absolute;left:0;bottom:10px;width: 100%;text-align: center;}
.footer_consule a{display:inline-block;font-size:14px;width: 40%;height:40px;line-height: 40px;text-align: center;color:#fff;border-radius: 5px;margin: 0 5%; float: left;}
.footer_consule a:first-child{background: #ABCA01;}
.footer_consule a:last-child{background:#ff5a00;}

/* 弹出表单 */
.show{width:100%;background:#fff;position:fixed;bottom:0;left:0;z-index:999;display:none;}
h1.lean{
	font-size:16px;
	color:#ff5a00;
	font-weight: normal;
	text-align:center;
	letter-spacing:-0.05em;
	line-height:20px;
	/*margin:30px 0px 10px;*/
	margin-bottom:10px;
	padding-top: 10px;
}
h1.lean:after{
	content: ' ';
		display: block;
		width: 100%;
		height: 2px;
		margin-top: 10px;
		background: -moz-linear-gradient(left, rgba(255,90,0,0) 0%, rgba(255,90,0,0.8) 20%, rgba(255,90,0,1) 53%, rgba(255,90,0,0.8) 79%, rgba(255,90,0,0) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,90,0,0)), color-stop(20%,rgba(255,90,0,0.8)), color-stop(53%,rgba(255,90,0,1)), color-stop(79%,rgba(255,90,0,0.8)), color-stop(100%,rgba(255,90,0,0)));
		background: -webkit-linear-gradient(left, rgba(255,90,0,0) 0%,rgba(255,90,0,0.8) 20%,rgba(255,90,0,1) 53%,rgba(255,90,0,0.8) 79%,rgba(255,90,0,0) 100%);
		background: -o-linear-gradient(left, rgba(255,90,0,0) 0%,rgba(255,90,0,0.8) 20%,rgba(255,90,0,1) 53%,rgba(255,90,0,0.8) 79%,rgba(255,90,0,0) 100%);
		background: -ms-linear-gradient(left, rgba(255,90,0,0) 0%,rgba(255,90,0,0.8) 20%,rgba(255,90,0,1) 53%,rgba(255,90,0,0.8) 79%,rgba(255,90,0,0) 100%);
		background: linear-gradient(left, rgba(255,90,0,0) 0%,rgba(255,90,0,0.8) 20%,rgba(255,90,0,1) 53%,rgba(255,90,0,0.8) 79%,rgba(255,90,0,0) 100%);
	}

.close{width:12%;top:0;left:0;position:absolute;}
.close img{width:80%;}

.ban{margin:5px 2%;width:96%;float:left;}
.ban_box{width:80%;background:#fff;float:left;margin:5px 10%;}
.ban_txt{width:100%;float:left;height:36px;margin-bottom:10px;}
.ban_txt input{float:left;width:100%;height:36px;border-radius:3px;background:#e7e7e7;text-indent: 10px;}
.ban_txt select{float:left;height:36px;border-radius:3px;background:#e7e7e7;padding:0 10px;border:none;}
.ban_btn{float:left;width:100%;height:40px;background:#e24e0e;border-radius:5px;}
.ban_btn input{float:left;width:100%;line-height:36px;height:36px;background:#f60;border-radius:3px;color:#fff;text-align:center;font-size:16px;}
/* 表单黑色半透明背景 */
.show-mask{background:rgba(0,0,0,.8);width:100%;height:100%;position:fixed;z-index:997;display:none;top:0;left:0;}
/* 客服权重控制 */
#LRfloater0{width: 12%;bottom: 150px !important;z-index: 1000 !important;}
#LRfloater0 img{width: 100%;z-index: 99;}
#LR-BTN-ICON{margin: 4px !important;}
.LR-BTN{width: 12% !important;height: 40px !important;}
#LR-CIRCLE{width: 12% !important;height: 40px !important;line-height: 40px !important;}
#LRMINIBar{right: 9px !important;bottom: 198px !important;}
/* right */
.right{position:fixed;right:10px;bottom:90px;width:12%;z-index:9999;}
.right a{width:100%;height:auto;float:left;margin-top:10px;position:relative;}
.right a img{width:100%;height:auto;}