@charset "utf-8";

/**
 * 
 * ie9下兼容样式，请分别加上ielt9,ielt8,ielt7等父级前缀
 *
 */

/* ===========================
 * reset
 * =========================== */
html,body{height:100%;}
html,body{overflow-x:hidden;overflow-y:hidden !important;}
*{padding:0;margin:0;font-size:100%;vertical-align:baseline;border:0 none;background:transparent;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,input,button,select,textarea,table{font:12px/1.5 Tahoma,Helvetica,Arial,sans-serif,\5b8b\4f53}
body{color:#333;background-color:#333}
ul,ol{list-style:none;}
img{vertical-align:top;}
input,select{vertical-align:middle}
label,input[type=button],input[type=submit]{cursor:pointer;}
button{width:auto;padding:0;overflow:visible;cursor:pointer;}
textarea{overflow:auto;}
table{border-spacing:0;border-collapse:collapse;}
a{cursor:pointer;}
a:link,a:visited{text-decoration:none;}
a:hover,a:active{text-decoration:none;}
:focus{outline:0;}
del{text-decoration:line-through;}
em{font-style:normal;}
.col_l{float:left;*display:inline;}
.col_r{float:right;*display:inline;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;visibility:hidden;height:0;clear:both;content:"\0020";}
:root .zoom{zoom:1}
/*按钮*/
.uptext{display:block;overflow:hidden;text-align:center;color:#fff}
.uptext:hover{text-decoration:none;}
.uptext span{display:block;width:100%;text-align:center;position:relative;text-transform:uppercase;letter-spacing:2px;-webkit-transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);-moz-transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);-ms-transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);-o-transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000)}
.uptext span:after{content:attr(data-label);width:100%;text-align:center;position:absolute;top:0;left:0;color:#000;text-transform:uppercase;display:inline-block;letter-spacing:2px;-webkit-transform:translate3d(0, 100%, 0);-moz-transform:translate3d(0, 100%, 0);-ms-transform:translate3d(0, 100%, 0);-o-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}
.uptext:hover span{-webkit-transform:translate3d(0, -100%, 0);-moz-transform:translate3d(0, -100%, 0);-ms-transform:translate3d(0, -100%, 0);-o-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);-webkit-transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);-moz-transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);-ms-transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);-o-transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);transition:all 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000)}


.uptext{width:360px;margin:20px auto 0;border:3px solid #fff;height:50px;line-height:48px;font-size:28px;color:#fff;position:absolute;right:20px;bottom:10%}
.uptext span{line-height:48px;color:#fff;margin-bottom:50px;}
.uptext span:after{color:#fff;margin-bottom:50px;}



/* 导航 [[ */
.nav{position:fixed;top:0;right:0;z-index:100;width:84px;height:100%;background-color:rgba(0,0,0,.7);background-color:#0e0f13\9;z-index:1001}
.nav li{position:relative;width:84px;overflow:hidden;cursor:pointer;border-bottom:1px solid rgba(255,255,255,.2);border-bottom:1px solid #3b3d40 \9;border-left:1px solid rgba(255,255,255,.2);border-left:1px solid #3b3d40 \9;}
.nav .last{border-bottom:none}
.nav li a{position:absolute;top:50%;left:50%;display:inline-block;text-align:center;vertical-align:middle;background:url(../images/process/nav.png) no-repeat;}
.nav li .n1{width:15px;height:35px;margin-top:-17.5px;margin-left:-7.5px;background-position:0 0;}
.nav li .n2{width:22px;height:35px;margin-top:-17.5px;margin-left:-11px;background-position:-17px 0;}
.nav li .n3{width:22px;height:43px;margin-top:-21.5px;margin-left:-11px;background-position:-41px 0;}
.nav li .n4{width:23px;height:45px;margin-top:-22.5px;margin-left:-11.5px;background-position:-65px 0;}
.nav li .n5{width:21px;height:43px;margin-top:-21.5px;margin-left:-10.5px;background-position:-90px 0;}
.nav li .n6{width:22px;height:43px;margin-top:-21.5px;margin-left:-11px;background-position:-113px 0;}
.nav li .n7{width:22px;height:42px;margin-top:-21px;margin-left:-11px;background-position:-137px 0;}
.nav li .n8{width:22px;height:43px;margin-top:-21.5px;margin-left:-11px;background-position:-161px 0;}
.nav li .n9{width:22px;height:42px;margin-top:-21.5px;margin-left:-11px;background-position:-185px 0;}
.nav .on a{left:0;margin-left:0;}
.nav .on .n1{width:70px;height:178px;margin-top:-89px;background-position:0 -50px;}
.nav .on .n2{width:70px;height:179px;margin-top:-89.5px;background-position:-75px -50px;}
.nav .on .n3{width:70px;height:178px;margin-top:-89px;background-position:-150px -50px;}
.nav .on .n4{width:70px;height:178px;margin-top:-89px;background-position:-225px -50px;}
.nav .on .n5{width:71px;height:178px;margin-top:-89px;background-position:-300px -50px;}
.nav .on .n6{width:71px;height:178px;margin-top:-89px;background-position:0 -234px;}
.nav .on .n7{width:71px;height:178px;margin-top:-89px;background-position:-75px -234px;}
.nav .on .n8{width:71px;height:186px;margin-top:-93px;background-position:-150px -234px;}
.nav .on .n9{width:71px;height:178px;margin-top:-89px;background-position:-225px -234px;}
/* 导航 ]] */
.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.a2,.a3,.a4,.a5,.a6,.a7{display:block;overflow:hidden;}
.fullPage{width:100%;height:100%;position:absolute;overflow:hidden;font-family:"Microsoft YaHei";}
.bg{position:absolute;top:0;left:0;width:100%;height:100%}
.fullPage .t{left:0;top:-3000px;position:absolute;z-index:100}
.fullPage .t {top:70px;
    -webkit-animation: bounceInDown .5s both 0s;
            animation: bounceInDown .5s both 0s;
}

/* 第一屏 */
.sec1{background:#3cf}
.block1{width:1240px;margin:0 auto;position:relative;height:100%;}
.block1 div{background:url(../images/process/p1.png) no-repeat;position:absolute;}
.block1 .t1{width:620px;height:150px;top:-1000px;left:310px;}
.block1 .t2{width:620px;height:150px;top:-1000px;right:0;background-position:-620px 0;}
.block1 .t3{width:1240px;height:100px;top:35%;left:0;background-position:0 -155px;opacity:0;transition:all .8s ease 3s;}
.block1 .pic1{height:518px;width:772px;bottom:-1000%;left:50%;margin-left:-367px;background-position:-252px -270px}
.block1 .man1{height:518px;width:250px;bottom:10%;left:-100px;background-position:0 -270px;opacity:0;transition:all .5s ease .5s;}
.block1 .man2{height:518px;width:220px;bottom:8%;right:-100px;background-position:right -270px;opacity:0;transition:all .5s ease 2s;}
.css3 .block1 .t3{top:26%;opacity:1;}
.css3 .block1 .man1{left:0;opacity:1;}
.css3 .block1 .man2{right:0;opacity:1;}
.css3 .block1 .t1 {top:10%;left:0;
    -webkit-animation: bounceInDown .5s both 1s;
            animation: bounceInDown .5s both 1s;
}
.css3 .block1 .t2 {top:10%;
    -webkit-animation: bounceInDown .5s both 2.5s;
            animation: bounceInDown .5s both 2.5s;
}
.css3 .block1 .pic1 {bottom:10%;
    -webkit-animation: bounceInUp .5s both 0s;
            animation: bounceInUp .5s both 0s;
}
/* 第二屏 */
.sec2{background:#fc0}
.block2{width:770px;margin:0 auto;position:relative;height:100%;}
.block2 .t{width:770px;height:230px;background:url(../images/process/t2.png) no-repeat;}
.block2 dl{top:32%;position:absolute;display:block;width:620px;height:580px;left:65px;}
.block2 dl dt{position:absolute;display:block;width:186px;height:68px;top:265px;left:50%;margin-left:-93px;background:url(../images/process/t2-m.png) no-repeat;transition: all .8s ease .5s;transform:scale(3,3);-ms-transform:scale(3,3);-webkit-transform:scale(3,3);opacity:0}
.block2 dl dd{position:absolute;display:block;width:220px;height:222px;background:url(../images/process/p2.png) no-repeat;transform:scale(.1,.1);-ms-transform:scale(.1,.1);-webkit-transform:scale(.1,.1);opacity:0}
.block2 dl dd.n1{top:0;left:50%;margin-left:-110px;transition:all .5s ease 1.2s;}
.block2 dl dd.n2{top:134px;right:0;transition:all .5s ease 1.4s;background-position:0 -222px}
.block2 dl dd.n3{bottom:0;left:52%;transition:all .5s ease 1.6s;background-position:0 -444px}
.block2 dl dd.n4{bottom:0;right:52%;transition:all .5s ease 1.8s;background-position:0 -666px}
.block2 dl dd.n5{top:134px;left:0;transition:all .5s ease 2s;background-position:0 -888px}
.css3 .block2 dl dt,.css3 .block2 dl dd{transform:scale(1,1);-ms-transform:scale(1,1);-webkit-transform:scale(1,1);opacity:1}

/* 第三屏 */
.sec3{background:#9c9}
.block3{width:100%;position:relative;height:100%;}
.block3 .box2,.block3 .box1{position:absolute;height:100%;left:-50%;top:0;width:50%;opacity:0}
.block3 .t{width:700px;height:91px;left:50%;background:url(../images/process/t3.png) center 0 no-repeat;margin-left:-350px;}
.block3 .box2{background:#73bf73;left:100%;}
.block3 .con{background:url(../images/process/p3-1.png) center 0 no-repeat;width:640px;height:620px;margin:-280px auto 0;position:relative;top:50%;}
.block3 .box2 .con{background-image:url(../images/process/p3-2.png)}
.block3 .pk{width:100px;height:100px;background:url(../images/process/pk.png) no-repeat;position:absolute;z-index:101;top:50%;left:50%;margin:-50px 0 0 -50px;opacity:0}
.block3 .errow{width:180px;height:180px;background:url(../images/process/errow.png) no-repeat;position:absolute;z-index:101;top:50%;left:50%;margin:-90px 0 0 -90px;transform:scale(3,3);-ms-transform:scale(3,3);-webkit-transform:scale(3,3);opacity:0;transition:all .5s ease 1.5s;}
.css3 .block3 .errow{transform:scale(1,1);-ms-transform:scale(1,1);-webkit-transform:scale(1,1);opacity:1}
.css3 .block3 .pk{
    -webkit-animation: block3Pk .5s both .5s,block3PkRun 1s infinite linear 1s;
            animation: block3Pk .5s both .5s,block3PkRun 1s infinite linear 1s;
}
.css3 .block3 .box1{opacity:1;left:0;transition:all .5s ease .5s;}
.css3 .block3 .box2{opacity:1;left:50%;transition:all .5s ease .5s;}


/* 第四屏 */
.sec4{background:#5fecda;}
.block4,.block7,.block6,.block5{width:1220px;margin:0 auto;position:relative;height:100%;}
.block4 div{position:absolute;background:url(../images/process/p4.jpg) no-repeat;}
.block4 .t{width:1220px;height:95px;left:0;}
.block4 .mid{width:173px;height:400px;top:200px;left:50%;margin-left:-87px;background-position:-522px -160px;-webkit-transition:all .8s ease .5s;opacity:0}
.block4 .left,.block4 .right{width:0;height:490px;top:200px;}
.block4 .left{background-position:0 -160px;width:522px;left:0;overflow:hidden;}
.block4 .left i{display:block;background:url(../images/process/p4_cs.png) right -220px no-repeat;width:40px;height:40px;position:absolute;transform:scale(.1,.1);-ms-transform:scale(.1,.1);-webkit-transform:scale(.1,.1);opacity:0}
.block4 .left i.n1{top:110px;left:100px;transition:all .5s ease 2.6s;}
.block4 .left i.n2{top:110px;left:325px;transition:all .5s ease 2.8s;}
.block4 .left i.n3{top:235px;left:100px;transition:all .5s ease 3s;}
.block4 .left i.n4{top:235px;left:325px;transition:all .5s ease 3.2s;}
.block4 .left i.n5{top:134px;left:175px;transition:all .5s ease 2.4s;width:104px;height:100px;background-position:0 -220px;}
.block4 .right i{display:block;background:url(../images/process/p4_cs.png) no-repeat;width:219px;height:220px;position:absolute;transform:scale(3,3);-ms-transform:scale(3,3);-webkit-transform:scale(3,3);opacity:0;left:200px;top:100px;transition:all .5s ease 3.5s;}
.css3 .block4 .left i,.css3 .block4 .right i{transform:scale(1,1);-ms-transform:scale(1,1);-webkit-transform:scale(1,1);opacity:1}
.block4 .left .b{background:#5fecda;width:522px;height:490px;top:0;left:0;transition:all .8s ease 1s;}
.block4 .right{left:698px;background-position:-698px -160px;transition:all .8s ease 1s;}
.block4 .vs{width:150px;height:150px;background-position:-538px -625px;top:710px;left:50%;margin-left:-75px;transition:all .8s ease 1.5s;opacity:0}
.block4 .rightText,.block4 .leftText{width:522px;height:150px;background-position:0 bottom;top:690px;opacity:0;transition:all .5s ease 2s;}
.block4 .rightText{background-position:right bottom;left:698px;}
.css3 .block4 .vs,.css3 .block4 .mid,.css3 .block4 .rightText,.css3 .block4 .leftText{opacity:1}
.css3 .block4 .right{width:522px;}
.css3 .block4 .left .b{left:-522px}
.block4 .errow{width:180px;height:180px;background:url(../images/process/errow.png) no-repeat;position:absolute;z-index:101;top:460px;left:130px;transform:scale(3,3);-ms-transform:scale(3,3);-webkit-transform:scale(3,3);opacity:0;transition:all .5s ease 4.2s;}
.css3 .block4 .errow{transform:scale(.8,.8);-ms-transform:scale(.8,.8);-webkit-transform:scale(.8,.8);opacity:1;}

.block4 .uptext{transition:all .5s ease 4.8s;opacity:0}
.css3 .block4 .uptext{opacity:1;}



/* 第五屏 */
.sec5{background:#f3aa37}
.block5 .t{width:1220px;height:170px;left:0;position:absolute;background:url(../images/process/t5.png) no-repeat center 0;}
.block5 .gd{width:260px;height:240px;position:absolute;left:28px;top:-280px;background:url(../images/process/p5.png) no-repeat;opacity:0;transition:all .5s ease .5s;}
.block5 .uptext{transition:all .5s ease 1s;opacity:0}
.css3 .block5 .uptext{opacity:1;}
.css3 .block5 .gd{opacity:1;top:0}
.block5 .pnBtn{color:#fff;font-size:120px;cursor:pointer;font-family:"宋体";font-weight:bold;width:72px;text-align:center;height:120px;overflow:hidden;line-height:120px;top:190px;opacity:0;}
.block5 .prevBtn{left:-80px;}
.block5 .nextBtn{right:-80px;}
.css3 .block5 .pnBtn{opacity:.5;transition:all .5s ease 0s;}
.block5 .pnBtn:hover{opacity:1}

#play{width:1220px;height:500px;left:0;top:280px;position:absolute;}
#play div{position:absolute;}
#play .con{opacity:0;left:0;top:0;width:1220px;overflow:hidden;height:500px;transition:all .5s ease 0s;}
#play .l{background:url(../images/process/p5-l.jpg) no-repeat;width:316px;height:215px;bottom:-500px;left:0;opacity:0;transition:all .5s ease .5s;overflow:hidden;}
#play .r{width:870px;height:500px;top:0px;right:-870px;opacity:0;transition:all .5s ease .5s;}
#play .n2 .l{background-position:0 -220px}
#play .n3 .l{background-position:0 -440px}
#play .n4 .l{background-position:0 -660px}
#play .n5 .l{background-position:0 -880px}
#play .n1 .r{background:url(../images/process/p5-1r.jpg) no-repeat;}
#play .n2 .r{background:url(../images/process/p5-2r.jpg) no-repeat;}
#play .n3 .r{background:url(../images/process/p5-3r.jpg) no-repeat;}
#play .n4 .r{background:url(../images/process/p5-4r.jpg) no-repeat;}
#play .n5 .r{background:url(../images/process/p5-5r.jpg) no-repeat;}
.css3 #play .curr{opacity:1;z-index:10}
.css3 #play .curr .l{bottom:13px;opacity:1}
.css3 #play .curr .r{right:0;opacity:1}


/* 第六屏 */
.sec6{background:#76b7fb}
.block6 div{position:absolute;background:url(../images/process/p6.png) no-repeat;}
.block6 .t{height:180px;width:1220px}
.block6 .text{height:50px;width:1220px;background-position:0 bottom;transition:all .8s ease 2s;opacity:0;top:3000px}
.block6 .left{width:460px;height:360px;background-position:0 -240px;top:320px;opacity:0;left:-460px;transition:all .5s ease .5s;}
.block6 .right{background:#9cc url(../images/process/p6r.jpg) no-repeat;width:730px;height:390px;left:100%;top:305px;transition:all .5s ease .5s;opacity:0;}
.block6 .right div{background:url(../images/process/p6g.png) no-repeat;color:#fff;font-size:14px;transform:scale(.8,.8);-ms-transform:scale(.8,.8);-webkit-transform:scale(.8,.8);opacity:0;top:275px}
.block6 .right div em{font-size:28px}

.block6 .right .n1{height:40px;width:100px;left:210px;background-position:-110px 0;padding-top:70px;transition:all .5s ease 1.2s;top:260px;}
.block6 .right .n2{width:200px;height:40px;left:325px;background-position:50px -110px;padding-top:55px;transition:all .5s ease 1.5s;}
.block6 .right .n3{width:180px;height:40px;left:532px;background-position:20px -225px;padding-top:55px;transition:all .5s ease 1.8s;}
.css3 .block6 .left{left:0;opacity:1;}
.css3 .block6 .text{top:750px;opacity:1;}
.css3 .block6 .right{opacity:1;left:490px;}
.css3 .block6 .right div{transform:scale(1,1);-ms-transform:scale(1,1);-webkit-transform:scale(1,1);opacity:1;
    -webkit-animation:scaleZoom 1s infinite linear 1s;
            animation:scaleZoom 1s infinite linear 1s;
}



/* 第七屏 */
.sec7{background:#ff8b7e}
.block7 div{position:absolute;background:url(../images/process/p7.png) no-repeat;}
.block7 .t{height:92px;width:1220px}
.block7 .right,.block7 .left{width:610px;height:480px;top:210px;top:210px;left:-50%;opacity:0;background-position:0 -140px;}
.block7 .right{background-position:-610px -140px;left:100%;}
.block7 .btn{background-position:-461px -758px;width:300px;height:96px;left:50%;margin-left:-150px;top:800px;opacity:0;cursor:pointer;
    -webkit-animation: block7Btn .6s both 1.8s;
            animation: block7Btn .6s both 1.8s;
}
.block7 .btn i{background:url(../images/process/hand.png) no-repeat;width:47px;height:95px;position:absolute;top:30px;right:20px;
    -webkit-animation:block3PkRun .8s infinite linear 0s;
            animation:block3PkRun .8s infinite linear 0s;
}
.block7 p{text-align:center;font-size:18px;width:1220px;display:block;color:#fff;z-index:10;top:3000px;position:absolute;left:0}
.block7 p span{font-size:30px;}
.css3 .block7 p{top:690px;transition:all .5s ease 1s;}
.css3 .block7 .left{opacity:1;left:0;transition:all .5s ease .5s;}
.css3 .block7 .right{opacity:1;left:50%;transition:all .5s ease .5s;}


/* 第八屏 */
.block8{position:absolute;top:50%;left:50%;width:488px;height:320px;margin-top:-260px;margin-left:-244px;font-family:"Microsoft YaHei";padding-top:200px}
.block8 .t{margin-top:10px;font-size:18px;line-height:30px;text-indent:36px;color:#eff3f4;background:url(../images/process/p8.png) no-repeat;width:634px;height:220px;left:-70px}
.css3 .block8 .t{top:-70px;}
.btn_org{display:block;width:100%;height:52px;margin-top:18px;font-family:"Microsoft YaHei";font-size:18px;line-height:52px;cursor:pointer;color:#fff;border:none;border-radius:5px;background-color:#f25619;box-shadow:1px 1px 1px rgba(0,0,0,.3);*overflow:visible;}
.btn_org:hover{color:#fff;background-color:#e7691e}
.mod_form{width:399px;margin:0 auto;}
.mod_form .text{font-family: "Microsoft YaHei";display:block;width:373px;height:46px;padding:0 12px;font-size:18px;line-height:50px;color:#333;border:1px solid #fff;border-radius:5px;background-color:#fff;box-shadow:1px 1px 1px rgba(0,0,0,.3);}
.mod_form .select{width:194px;height:48px;font-family:"Microsoft YaHei";font-size:18px;color:#333;border:1px solid #ddd;border-radius:5px;background-color:#fff;box-shadow:1px 1px 1px rgba(0,0,0,.3);}
.mod_form .form_line{position:relative;*zoom:1;}
.mod_form .form_line:after{display:block;visibility:hidden;height:0;clear:both;content:"\0020";}
.mod_form .element{position:relative;float:none;width:auto;padding-bottom:26px;}
.mod_form .form_error{position:absolute;bottom:4px;left:0;color:#f66;font-size:14px; display: none;}
.mod_form .text_wrap{position:relative;}
.mod_form .text_wrap .text_lbl{position:absolute;top:12px;left:12px;font-size:18px;color:#bbb;}


@-webkit-keyframes bounceInDown {
    0% {
        -webkit-transform: translate3d(0,-3000px,0);
                transform: translate3d(0,-3000px,0);
    }60% {
        -webkit-transform: translate3d(0,25px,0);
                transform: translate3d(0,25px,0);
    }75% {
        -webkit-transform: translate3d(0,-10px,0);
                transform: translate3d(0,-10px,0);
    }90% {
        -webkit-transform: translate3d(0,5px,0);
                transform: translate3d(0,5px,0);
    }100% {
        -webkit-transform: none;
                transform: none;
    }
}
@keyframes bounceInDown {
    0% {
        -webkit-transform: translate3d(0,-3000px,0);
                transform: translate3d(0,-3000px,0);
    }60% {
        -webkit-transform: translate3d(0,25px,0);
                transform: translate3d(0,25px,0);
    }75% {
        -webkit-transform: translate3d(0,-10px,0);
                transform: translate3d(0,-10px,0);
    }90% {
        -webkit-transform: translate3d(0,5px,0);
                transform: translate3d(0,5px,0);
    }100% {
        -webkit-transform: none;
                transform: none;
    }
}
@-webkit-keyframes bounceInUp {
    0% {
        -webkit-transform: translate3d(0,3000px,0);
                transform: translate3d(0,3000px,0);
    }60% {
        -webkit-transform: translate3d(0,25px,0);
                transform: translate3d(0,25px,0);
    }75% {
        -webkit-transform: translate3d(0,-10px,0);
                transform: translate3d(0,-10px,0);
    }90% {
        -webkit-transform: translate3d(0,5px,0);
                transform: translate3d(0,5px,0);
    }100% {
        -webkit-transform: none;
                transform: none;
    }
}
@keyframes bounceInUp {
    0% {
        -webkit-transform: translate3d(0,3000px,0);
                transform: translate3d(0,3000px,0);
    }60% {
        -webkit-transform: translate3d(0,25px,0);
                transform: translate3d(0,25px,0);
    }75% {
        -webkit-transform: translate3d(0,-10px,0);
                transform: translate3d(0,-10px,0);
    }90% {
        -webkit-transform: translate3d(0,5px,0);
                transform: translate3d(0,5px,0);
    }100% {
        -webkit-transform: none;
                transform: none;
    }
}
@-webkit-keyframes block3Pk {
    0% {
        opacity:0;
        -webkit-transform:scale(5,5);
                transform:scale(5,5);
    }100% {
        opacity:1;
        -webkit-transform:scale(1,1);
                transform:scale(1,1);
    }
}
@keyframes block3Pk {
    0% {
        opacity:0;
        -webkit-transform:scale(5,5);
                transform:scale(5,5);
    }100% {
        opacity:1;
        -webkit-transform:scale(1,1);
                transform:scale(1,1);
    }
}
@keyframes block3PkRun{
    0%{-webkit-transform:scale(1,1);transform:scale(1,1);}
    65%{-webkit-transform:scale(1.2,1.2);transform:scale(1.2,1.2);}
    100%{-webkit-transform:scale(1,1);transform:scale(1,1);}
}
@-webkit-keyframes block3PkRun{
    0%{-webkit-transform:scale(1,1);transform:scale(1,1);}
    65%{-webkit-transform:scale(1.2,1.2);transform:scale(1.2,1.2);}
    100%{-webkit-transform:scale(1,1);transform:scale(1,1);}
}

@keyframes scaleZoom{
    0%{-webkit-transform:scale(1,1);transform:scale(1,1);}
    65%{-webkit-transform:scale(1.05,1.05);transform:scale(1.05,1.05);}
    100%{-webkit-transform:scale(1,1);transform:scale(1,1);}
}
@-webkit-keyframes scaleZoom{
    0%{-webkit-transform:scale(1,1);transform:scale(1,1);}
    65%{-webkit-transform:scale(1.05,1.05);transform:scale(1.05,1.05);}
    100%{-webkit-transform:scale(1,1);transform:scale(1,1);}
}

@-webkit-keyframes block7Btn {
    0% {
        opacity:0;
        -webkit-transform:scale(5,5);
                transform:scale(5,5);
    }80% {
        opacity:1;
        -webkit-transform:scale(.9,.9);
                transform:scale(.9,.9);
    }95% {
        opacity:1;
        -webkit-transform:scale(1.05,1.05);
                transform:scale(1.05,1.05);
    }100% {
        opacity:1;
        -webkit-transform:scale(1,1);
                transform:scale(1,1);
    }
}
@keyframes block7Btn {
    0% {
        opacity:0;
        -webkit-transform:scale(5,5);
                transform:scale(5,5);
    }80% {
        opacity:1;
        -webkit-transform:scale(.9,.9);
                transform:scale(.9,.9);
    }95% {
        opacity:1;
        -webkit-transform:scale(1.05,1.05);
                transform:scale(1.05,1.05);
    }100% {
        opacity:1;
        -webkit-transform:scale(1,1);
                transform:scale(1,1);
    }
}


.scroll_down_btn {
    -webkit-animation: slideDown 1.6s ease-in-out 0s infinite;
    -moz-animation: slideDown 1.6s ease-in-out 0s infinite;
    -ms-animation: slideDown 1.6s ease-in-out 0s infinite;
    -o-animation: slideDown 1.6s ease-in-out 0s infinite;
    animation: slideDown 1.6s ease-in-out 0s infinite;
    z-index:1000;
    position:fixed;
    bottom:10px;
    left: 50%;
    margin-left: -11px;
    width: 23px;
    height: 24px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(../images/process/scroll_down_btn1.png)

}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn1.png)
    }
    
    50% {
        -webkit-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn.png)
    }
    
    100% {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn1.png)
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn1.png)
    }
    
    50% {
        -webkit-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn.png)
    }
    
    100% {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn1.png)
    }
}
.scroll_down_btn.reverse {
    -webkit-animation: slideUp 1.6s ease-in-out 0s infinite;
    -moz-animation: slideUp 1.6s ease-in-out 0s infinite;
    -ms-animation: slideUp 1.6s ease-in-out 0s infinite;
    -o-animation: slideUp 1.6s ease-in-out 0s infinite;
    animation: slideUp 1.6s ease-in-out 0s infinite
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn.png)
    }
    
    50% {
        -webkit-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn1.png)
    }
    
    100% {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn.png)
    }
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn.png)
    }
    
    50% {
        -webkit-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(-10px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn1.png)
    }
    
    100% {
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1) scaleZ(1);
        background-image: url(../images/process/scroll_down_btn.png)
    }
}

.bmSuccess {
display: none;
position: fixed;
width: 480px;
height: 220px;
top: 50%;
left: 50%;
margin: -110px 0 0 -250px;
background: #fff;
border: 5px solid #eee;
box-shadow: 0 0 10px rgba(0,0,0,.5);
z-index: 10001;
border-radius: 5px;
font-size: 14px;
}

.bmSuccess .close {
position: absolute;
top: 9px;
right: 10px;
background: url(../images/process/cs_btn.png) -214px -4px no-repeat;
width: 14px;
height: 14px;
display: block;
cursor: pointer;
}